* {
	font-family: 'Lucida Grande', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size: 47px;
	margin-top: 45px;
	margin-bottom: 26px;
}

h2 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 30px;
	color: #f07c17;
	margin-top: 0px;
}

p {
	font-size: 14px;
	line-height: 2.6;
}

.title {
	color: #666666;
	text-align: center;
	margin-bottom: 0px;
}

.list {
	outline: 1px solid #cccccc;
	line-height: 30px;
	padding: 45px 0px 35px 30px;
}

.container {
	max-width: 1024px;
}

.img-responsive {
	max-width: 375px;
}